<!DOCTYPE>
<html>
    <head>
        <title>Truth or Dare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>
    <body>
        <section class="section">
            <div class="container" id="initial">
                <h1 class="title">Truth or Dare</h1>
                <div class="field">
                    <div class="control">
                        <label for="number" class="field">Number of questions: </label>
                        <input type="text" name="number" class="input" placeholder="10" id="num_input">
                        <p class="help is-danger" style="display: none">Enter a valid number</p>
                    </div>
                </div>
                <button class="button is-link" id="show_questions">Show Questions</button>
            </div>
        </section>
        
        <script src="static/js/index.js"></script>
    </body>
</html>